/*font*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

@font-face {
  font-family: "Dancing Script", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

@font-face {
  font-family: "Work Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

/*icon*/
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0);
