@import url(../block/page-transition.css);
@import url(../block/opening.css);
@import url(../block/introduction.css);
@import url(../block/event.css);
@import url(../block/header.css);
@import url(../block/fonts.css);
@import url(../vendor/icon.css);

.images__header {
  width: 100%;
}

.page__slider {
  display: grid;
  place-items: flex-end center;
}

.shape__slider {
  width: 20%;
}

.slider__container {
  background-color: #284B63;
  height: 85%;
  width: 100%;
  display: grid;
  align-items: end;
  justify-items: center;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px -10px 18px -11px rgb(0 0 0 / 50%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.images__slider {
  width: 100%;
}

.slider__header {
  animation: 1341.72ms ease 0ms 1 normal none running popup;
  color: black;
  font-family: "The Nautigal", Sans-serif;
  font-size: 40px;
  font-weight: 300;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translate3d(0,-100%,0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

* {
  box-sizing: border-box;
}

.page__countdown {
  
  background-size: cover;
  background-position: center;
  padding-bottom: 2rem;
}
